<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.goodlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LayoutOne"></activity>
        <activity android:name=".AddTimelineDoctor" />
        <activity android:name=".DoctorActivity.DoctorFile" />
        <activity android:name=".Fragment.DoctorFragment" />
        <activity android:name=".Fragment.ScheduleDoctorFragmentCust" />
        <activity
            android:name=".SelectFriendActivity"
            android:label="Select Doctor" />
        <activity
            android:name=".ChatDetailsActivity"
            android:label="List" />
        <activity android:name=".Fragment.TimelineFeedFragmentCust" />
        <activity android:name=".UserActivity.FormUser" />

        <service
            android:name=".Service.NotificationService"
            android:exported="true"
            android:label="Poll Messages"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Service.FirebaseMsgServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.FirebaseInstncIDServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DoctorActivity.MainActivityHome" />
        <activity android:name=".DoctorActivity.DoctorAccout" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".UserActivity.TakePhoto" />
        <activity android:name=".UserActivity.SignUp" />
        <activity android:name=".UserActivity.SignIn" />
        <activity android:name=".DoctorActivity.SignIn_Doctor"/>
        <activity android:name=".MainActivityHomeCustomers" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>